*{ margin: 0;
    padding : 0 ;
    
}
body{
    margin: 0;
    padding: 0;
    background-color: white;
}

.Containermain{
  margin: auto;
    width: 390px;
    height: 781px;
  background-color:#F8F2BD;
    border-radius: 5px;

}

.backicon{
    border: 1px outset black ;
    width: 45.75px;
    height: 40px;
    margin-top: 50px;
    margin-left: 10px;
    display: flex;

}
h3{
    margin-left: 75;
    text-align: center;
    font-size: 30px;
}
.logo{
     border: 1px outset #FBE09D;
    margin-left: 110px;
    margin-bottom: 5px;
     width:156px;
    height: 150px;
    display: flex;
}
.createbox{
 border: 1px;  
    margin: auto;
    width: 360px;
    height: 525px;
    border-radius: 5px;
    padding: 5px;
    background-color: #FBE09D;
}
.createbox input{
    border: 0px outset gray;
    width: 105px;
    height: 33px;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
  border-radius: 5%;
    display: flex;
    
    
}
.createbox input[type ="fname"]{
     border: 1px outset #B9B0B0;
    border-bottom: 2px solid #FBE09D ;
    background-color:#F8F2BD ;
    outline:none;
    height: 33px;
   display:flex;
    float: left;
    border-radius: 20px;
}
.createbox input[type ="mname"]{
     border: 1px outset #B9B0B0;
    border-bottom: 2px solid #FBE09D ;
    background-color:#F8F2BD ;
    outline:none;
    height: 33px;
   display:flex;
    float: left;
    border-radius: 20px;
}
.createbox input[type ="lname"]{
     border: 1px outset #B9B0B0;
    border-bottom: 2px solid #FBE09D ;
    background-color:#F8F2BD ;
    outline:none;
    height: 33px;
   display:flex;
    float: left;
    border-radius: 20px;
}
h4{
    font-size: 18px;
    margin-left: 10px;
}
.createbox input[type ="email"]{
    margin-top: 5px;
     border: 1px outset #B9B0B0;
    border-bottom: 2px solid #FBE09D ;
    background-color:#F8F2BD ;
    outline:none;
    width: 340px;
    height: 50px;
    border-radius: 20px;
}
.createbox input[type = "phoneno"]{
     margin-top: 5px;
     border: 1px outset #B9B0B0;
    border-bottom: 2px solid #FBE09D ;
    background-color:#F8F2BD ;
    outline:none;
    width: 340px;
    height: 50px;
    border-radius: 20px;
}
.createbox input[type = "username"]{
     margin-top: 5px;
     border: 1px outset #B9B0B0;
    border-bottom: 2px solid #FBE09D ;
    background-color:#F8F2BD ;
    outline:none;
    width: 340px;
    height: 50px;
    border-radius: 20px;
}
.createbox input[type = "password"]{
     margin-top: 5px;
     border: 1px outset #B9B0B0;
    border-bottom: 2px solid #FBE09D ;
    background-color:#F8F2BD ;
    outline:none;
    width: 340px;
    height: 50px;
    border-radius: 20px;}

.register{
    margin-top: 5px;
    border: 2px outset #FCE35F;
    background-color: #FCE35F;
    height: 46.56px;
    width: 214px;
    margin-left: 75px;;
    border-radius: 20px;
    
}
.register a{
    margin-left: 45px;
    font-size: 20px;
    color: black;
    
}
a{
     text-decoration:none;
    font-size: 20px;
    line-height: 20px;
    color: #8D8A8A;
    margin-left: 85px;
    margin-bottom: 15px;
    margin-top: 30px;

}